{% extends 'base.html.twig' %}

{% block title %}Quest index{% endblock %}

{% block body %}
    <h1>Quest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Exp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quest in quests %}
            <tr>
                <td>{{ quest.name }}</td>
                <td>{{ quest.Description }}</td>
                <td>{{ quest.type }}</td>
                <td>{{ quest.exp }}</td>
                <td>
                    <a href="{{ path('quest_show', {'id': quest.id}) }}">show</a>
                    <a href="{{ path('quest_edit', {'id': quest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quest_new') }}">Create new</a>
{% endblock %}
