{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class=" row justify-content-center mt-5 mb-5">
        <img CLASS="col-1 rounded-circle" src="{{ asset('assets/img/avatar.png') }}" alt=""/>
        <h3 class="col-3">{{ user.pseudo }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.successes.name }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

    </div>


    <div class="row justify-content-center mt-5">
        <div class="card  col-10 col-md-8 col-lg-8 m-5">
            <div class="card-body">
                <h5 class="card-title">Daily Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                {% for daily in dailys %}
                <a href="{{ path('quest_show' , { 'id': daily.id} )}}"><p class="card-text">{{ daily.name  }}</p></a>
                {% endfor %}
                <a href="{{ path('quest_type' , {'type': dailys.0.type}) }}" class="card-link align-items-end">View</a>
            </div>
        </div>
        <div class="card col-10 col-md-8 col-lg-8 m-5">
            <div class="card-body">
                <h5 class="card-title">Limit-time Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                {% for limit in limits %}
                    <a href="{{ path('quest_show' , { 'id': limit.id} )}}"><p class="card-text">{{ limit.name  }}</p></a>
                {% endfor %}
                <a href="{{ path('quest_type' , {'type': limits.1.type}) }}" class="card-link">View</a>
            </div>
        </div>
        <div class="card col-10 col-md-8 col-lg-8 m-5 ">
            <div class="card-body">
                <h5 class="card-title">Personal Quests</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                {% for personal in personals %}
                <a href="{{ path('quest_show' , { 'id': personal.id} )}}"> <p class="card-text">{{ personal.name  }}</p></a>
                {% endfor %}
                <a href="{{ path('quest_type' , {'type': personals.2.type}) }}" class="card-link">View</a>
                <a href="{{ path('quest_new') }}" class="card-link">Create one</a>
            </div>
        </div>
    </div>

{% endblock %}
